<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="proyecto_taller2Entities" connectionString="metadata=res://*/proyecto_db.csdl|res://*/proyecto_db.ssdl|res://*/proyecto_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=proyecto_taller2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

